{{ define "pagination" }}
{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

import (
	"encoding/base64"
	"encoding/json"
	"fmt"
	"reflect"
	"strings"

	"github.com/facebookincubator/ent/dialect/sql"
)

// Predicate creates a predicate
type Predicate = func(s *sql.Selector)

// EQ applies an equal predicate
func EQ(field string, value interface{}) Predicate {
	return func(s *sql.Selector) {
		s.Where(sql.EQ(s.C(field), value))
	}
}

// GT applies a greater than predicate
func GT(field string, value interface{}) Predicate {
	return func(s *sql.Selector) {
		s.Where(sql.GT(s.C(field), value))
	}
}

// LT applies a less than predicate
func LT(field string, value interface{}) Predicate {
	return func(s *sql.Selector) {
		s.Where(sql.LT(s.C(field), value))
	}
}

// And groups list of predicates with the AND operator between them.
func And(predicates ...Predicate) Predicate {
	return func(s *sql.Selector) {
		s1 := s.Clone().SetP(nil)
		for _, p := range predicates {
			p(s1)
		}
		s.Where(s1.P())
	}
}

// Or groups list of predicates with the OR operator between them.
func Or(predicates ...Predicate) Predicate {
	return func(s *sql.Selector) {
		s1 := s.Clone().SetP(nil)
		for i, p := range predicates {
			if i > 0 {
				s1.Or()
			}
			p(s1)
		}
		s.Where(s1.P())
	}
}

// CursorPosition represets a cursor position
type CursorPosition struct {
	Column    string
	Direction string
	Value     interface{}
}

{{ range $_, $n := $.Nodes -}}
  {{ $name := $n.Name }}
  {{ $builder := $n.QueryName }}
  {{ $receiver := receiver $builder }}

// {{ $name }}Cursor represents the cursor
type {{ $name }}Cursor struct {
	positions []*CursorPosition
}

// DecodeCursor decodes a cursor from its base-64 string representation.
func Decode{{ $name }}Cursor(order, token string) (*{{ $name }}Cursor, error) {
	cursor := &{{ $name }}Cursor{}

	if err := cursor.positionsAt(order); err != nil {
		return nil, err
	}

	if err := cursor.valuesAt(token); err != nil {
		return nil, err
	}

	return cursor, nil
}

// String returns a base-64 string representation of a cursor.
func (c *{{ $name }}Cursor) String() string {
	count := len(c.positions)

	if count == 0 {
		return ""
	}

	values := make([]interface{}, count)

	for index, position := range c.positions {
		values[index] = position.Value
	}

	data, err := json.Marshal(values)
	if err != nil {
		panic(err)
	}

	return strings.TrimRight(base64.URLEncoding.EncodeToString(data), "=")
}

// Next returns the next cursor
func (c *{{ $name }}Cursor) Next(input []*{{ $name }}) *{{ $name }}Cursor {
	var (
		next  = {{ $name }}Cursor{}
		count = len(input)
	)

	if count == 0 {
		return &next
	}

	item := input[count - 1]

	for _, position := range c.positions {
		index := &CursorPosition{
			Column:    position.Column,
			Direction: position.Direction,
		}

		{{ with $n.Fields }}
		  switch position.Column {
			  case "{{ $n.ID.Name }}":
				index.Value = item.{{ pascal $n.ID.Name }}
			{{- range $i, $f := $n.Fields }}
			  case "{{ $f.Name }}":
				index.Value = item.{{ pascal $f.Name }}
			{{- end }}
		  }
		{{ end }}

		next.positions = append(next.positions, index)
	}

	return &next
}

func (c *{{ $name }}Cursor) positionsAt(order string) error {
	const (
		separator = ","
		asc       = "+"
		desc      = "-"
	)

	for _, field := range strings.Split(order, separator) {
		field = strings.TrimSpace(field)

		if field == "" {
			continue
		}

		position := &CursorPosition{
			Column:    field,
			Direction: asc,
		}

		switch {
		case strings.HasPrefix(field, asc):
			position = &CursorPosition{
				Column:    field[1:],
				Direction: asc,
			}
		case strings.HasPrefix(field, desc):
			position = &CursorPosition{
				Column:    field[1:],
				Direction: desc,
			}
		}

		{{ with $n.Fields }}
		  switch position.Column {
			  case "{{ $n.ID.Name }}":
			{{- range $i, $f := $n.Fields }}
			  case "{{ $f.Name }}":
			{{- end }}
			  default:
				  return fmt.Errorf("ent: unknown '%s' column", position.Column)
			}
		{{ end }}
		c.positions = append(c.positions, position)
	}

	return nil
}

func (c *{{ $name }}Cursor) valuesAt(token string) error {
	values := []interface{}{}

	if token == "" {
		return nil
	}

	if n := len(token) % 4; n != 0 {
		token += strings.Repeat("=", 4-n)
	}

	data, err := base64.URLEncoding.DecodeString(token)
	if err != nil {
		return err
	}

	if err := json.Unmarshal(data, &values); err != nil {
		return err
	}

	for index, position := range c.positions {
		if index >= len(values) {
			return fmt.Errorf("ent: invalid pagination cursor")
		}

		position.Value = values[index]
	}

	return nil
}


// Seek seeks the query to a given cursor
func ({{ $receiver }} *{{ $builder }}) Seek(cursor *{{ $name }}Cursor) *{{ $builder }} {
	pq.predicates = append(pq.predicates, pq.seek(cursor.positions))

	for _, position := range cursor.positions {
		switch position.Direction {
		case "+":
			pq.order = append(pq.order, Asc(position.Column))
		case "-":
			pq.order = append(pq.order, Desc(position.Column))
		}
	}

	return pq
}

func ({{ $receiver }} *{{ $builder }}) seek(positions []*CursorPosition) Predicate {
	var (
		predicate        Predicate = func(*sql.Selector) {}
		predicateCompare Predicate = func(*sql.Selector) {}
		predicateEqual   Predicate = func(*sql.Selector) {}
	)

	if len(positions) == 0 {
		return predicate
	}

	position := positions[0]

	if position.Value != nil {
		predicateEqual = EQ(position.Column, position.Value)

		switch position.Direction {
		case "+":
			predicateCompare = GT(position.Column, position.Value)
		case "-":
			predicateCompare = LT(position.Column, position.Value)
		default:
			predicateCompare = GT(position.Column, position.Value)
		}
	}

	positions = positions[1:]
	predicate = predicateCompare

	if len(positions) > 0 {
		predicate = Or(predicateCompare,
			And(predicateEqual, {{ $receiver }}.seek(positions)))
	}

	return predicate
}

{{ end }}

{{ end }}
